.password-validation-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  text-align: left;
}

.password-validation-list li {
  margin: 5px 0;
  font-size: 14px;
}

.password-validation-list li.valid {
  color: green;
}

.password-validation-list li.invalid {
  color: red;
}
