#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-color: var(--background-main);
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background-main: #f2f2f2;
  --primary-color: #1191FA;
  --secondary-color: #004285;
  --accent-color: #fc6039;
  --form-background: #c2e4ff;
  
  /* Kleuren */
  --green-color: #0b4d0d; /* Hoofdkleur */
  --red-color: #870505; /* Secundaire kleur */
  --white-color: #ffffff; /* Achtergrondkleur */
  --black-color: #000000; /* Tekstkleur */
  --link-color: #2196F3; /* Link kleur */
  --hover-color: #FF5722; /* Hover kleur */
  --light-grey-color: #1976D2;
  --border-color: #e1e1e1;
  --btn-hover-color: #de5331;
  /* Fonts */
  --font-family: 'Arial, sans-serif';
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.5rem;

  /* Afstand en marges */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;

  /* Schatten */
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  /* Grensradius */
  --border-radius: 8px;

  /* Overgangen */
  --transition-duration: 0.3s;
  --transition-ease: ease-in-out;
}




/* Footer
a {
  font-weight: 700;
  color: #770101;
  text-decoration: inherit;
  font-family: "Noto Sans Arabic", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* a:hover {
  color: #770101;
} */


label,
input,
strong,
textarea,
select,
ul,
ol{
color : #000000 !important; 
}
body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  /* width: 20% !important; */
}
button:hover {
  border-color: #770101;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
 
  button {
    background-color: #f9f9f9;
  }
}

a{
  font-weight: 700;
}


h1,
h2,
h3{
  color: var(--black-color);
    font-family: "Noto Sans Arabic", serif !important;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      direction: rtl;

  
}

label{
  direction: rtl;
}

p,
a,
li,
label{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}